# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/

# Database files (if you don’t want to track local DBs)
*.db

# IDE settings
.vscode/
.idea/

# Text file
Chatgpt.txt
Note.txt

# OS files
.DS_Store
Thumbs.db
