# Python cache
__pycache__/
files/

# Virtual environments
venv/
env/

# Database files (if you don’t want to track local DBs)
*.db

# IDE settings
.vscode/
.idea/
db.py

# Text file
Chatgpt.txt
Note.txt

*.gitignore

# OS files
.DS_Store
Thumbs.db
